<nav class="nav">
    <a class="navbar-brand pl-5" href="/l">
        <img src="./../../../assets/Logo.png" height="40" alt="">
    </a>
    <a class="nav-link ml-auto" href="/cadastro"><i class="fas fa-plus pr-1"></i>Cadastro</a>
    <a class="nav-link disabled" href=""><i class="fas fa-cash-register"></i>Caixa</a>
    <a class="nav-link " href="#"><i class="fas fa-user pr-1"></i>Lucas Duarte</a>
    <a class="nav-link pr-5 " href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-out-alt pr-1"></i>Sair</a>
</nav>