<div class="body">
    <app-header></app-header>
    <div class="row m-0 h-100">

        <div class="col-md-10 col-12 bg-primary_  p-0  text-white">

            <div class="row mx-4">
                <div class="col-3">
                    <div class="my-5 mx-2">
                        <div class="card bg-danger">
                            <div class="text-center m-2 "><span class="">Vaga 1</span></div>
                            <div class="card-body card-danger text-center">
                                <h5 class="card-title">AAA-0000</h5>
                                <p class="card-text">Horario Entrada:<span class="pl-2">10:00</span></p>
                                <p class="card-text">Decorrido:<span class="pl-2">00:20</span></p>
                                <a href="/pagamento" class="btn btn-primary">Pagamento</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="my-5 mx-2">
                        <div class="card bg-success">
                            <div class="text-center m-2 "><span class="">Vaga 2</span></div>
                            <div class="card-body card-success text-center">
                                <h5 class="card-title">Livre</h5>
                                <p class="card-text">Horario Entrada:<span class="pl-2"></span></p>
                                <p class="card-text">Decorrido:<span class="pl-2"></span></p>
                                <a href="#" class="btn btn-primary">Adicionar Carro</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-2 col-12 bg-secondary_">

            <div class="text-center text-primary pt-3">
                <h4>moto</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tempo</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1:00</td>
                            <td>R$:5,00</td>
                        </tr>
                        <tr>
                            <td>2:00</td>
                            <td>R$: 8,00</td>
                        </tr>
                        <tr>
                            <td>3:00</td>
                            <td>R$: 12,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center text-primary pt-3">
                <h4>moto</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tempo</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1:00</td>
                            <td>R$:5,00</td>
                        </tr>
                        <tr>
                            <td>2:00</td>
                            <td>R$: 8,00</td>
                        </tr>
                        <tr>
                            <td>3:00</td>
                            <td>R$: 12,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center text-primary pt-3">
                <h4>moto</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tempo</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1:00</td>
                            <td>R$:5,00</td>
                        </tr>
                        <tr>
                            <td>2:00</td>
                            <td>R$: 8,00</td>
                        </tr>
                        <tr>
                            <td>3:00</td>
                            <td>R$: 12,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>

    </div>